<mat-sidenav-container class="sidenav-container">
  <!-- Drawer removido completamente -->

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <!-- Nome / Logo -->
      <span class="toolbar-title">SpkAI</span>

      <!-- Spacer para empurrar ícones para a direita -->
      <span class="spacer"></span>
      <!-- Version display -->
      <button mat-button matTooltip="Application Version" class="version-display">
        <mat-icon>info</mat-icon>
        <span class="version-text">v0.0.101</span>
      </button>

      <!-- Ícones de navegação -->
      <button mat-icon-button matTooltip="Home" (click)="navigateTo('')">
        <mat-icon>home</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Editar Perfil" (click)="navigateToUserEditPage()">
        <mat-icon>account_circle</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Logout" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Main content -->
    <div class="main-content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
