<form [formGroup]="createImovel" (ngSubmit)="create()" enctype="multipart/form-data">
  <mat-tab-group [(selectedIndex)]="selectedTabIndex">
    <mat-tab label="Dados">
      <h2>Informações do Imóvel</h2>

      <div class="d-flex">
        <mat-form-field class="mr-1">
          <mat-label>Operação</mat-label>
          <mat-select formControlName="operacao">
            <mat-option value="COMPRAR">Comprar</mat-option>
            <mat-option value="ALUGAR">Alugar</mat-option>
            <mat-option value="Imovel Novo">Imóvel Novo</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width mt-1">
          <mat-label>Tipo do Imóvel</mat-label>
          <mat-select formControlName="tipo">
            <ng-container *ngIf="tipoImoveis?.length">
              <mat-option *ngFor="let tipoImovel of tipoImoveis" [value]="tipoImovel">{{ tipoImovel }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="d-flex">
        <mat-form-field class="mr-1">
          <mat-label>Qtd de Quartos</mat-label>
          <input matInput formControlName="qtdQuartos" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Valor</mat-label>
          <input matInput formControlName="valor" mask="separator.2" thousandSeparator="." decimalMarker="," prefix="R$ " />
        </mat-form-field>
      </div>

      <div class="d-flex">
        <mat-form-field class="mr-1">
          <mat-label>Valor do Condimínio</mat-label>
          <input matInput formControlName="valorCondominio" mask="separator.2" thousandSeparator="." decimalMarker="," prefix="R$ " />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Valor do IPTU</mat-label>
          <input matInput formControlName="valorIPTU" mask="separator.2" thousandSeparator="." decimalMarker="," prefix="R$ " />
        </mat-form-field>
      </div>

      <h3>Endereço</h3>
      <!--TODO: add checkbox perguntando se o vendedor deseja que o endereco seja exibido -->

      <div class="d-flex">
        <mat-form-field class="mr-1">
          <mat-label>Rua</mat-label>
          <input matInput type="text" formControlName="rua" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>N°</mat-label>
          <input matInput formControlName="numero" />
        </mat-form-field>
      </div>

      <div class="d-flex">
        <mat-form-field class="mr-1">
          <mat-label>Bairro</mat-label>
          <input matInput type="text" formControlName="bairro" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Cidade</mat-label>
          <input matInput formControlName="cidade" />
        </mat-form-field>
      </div>

      <div class="d-flex">
        <mat-form-field class="mr-1">
          <mat-label>Estado</mat-label>
          <input matInput type="text" formControlName="estado" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>CEP</mat-label>
          <input matInput formControlName="cep" />
        </mat-form-field>
      </div>

      <h3>Características</h3>
      <div class="d-flex">
        <mat-form-field class="mr-1">
          <mat-label>Área Total (m²)</mat-label>
          <input matInput formControlName="areaTotalM2" mask="separator.2" thousandSeparator="." decimalMarker="," suffix="m²" />
        </mat-form-field>

        <mat-form-field class="mr-1">
          <mat-label>Área Construída (m²)</mat-label>
          <input matInput formControlName="areaConstruidaM2" mask="separator.2" thousandSeparator="." decimalMarker="," suffix="m²" />
        </mat-form-field>
      </div>

      <div class="d-flex">
        <mat-form-field class="mr-1">
          <mat-label>Qtd de Banheiros</mat-label>
          <input matInput formControlName="quantidadeBanheiros" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Qtd de Suítes</mat-label>
          <input matInput formControlName="quantidadeSuites" />
        </mat-form-field>
      </div>

      <div class="d-flex">
        <mat-form-field class="mr-1">
          <mat-label>Vagas de Garagem</mat-label>
          <input matInput formControlName="vagasGaragem" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Data de Cadastro</mat-label>
          <input matInput formControlName="dataCadastro" />
        </mat-form-field>
      </div>

      <mat-checkbox formControlName="possuiPiscina"> Piscina </mat-checkbox>
      <mat-checkbox formControlName="possuiQuintal"> Quintal </mat-checkbox>

      <mat-form-field class="full-width">
        <mat-label>Observações</mat-label>
        <textarea
          matInput
          class="observacoes"
          formControlName="observacoes"
          [errorStateMatcher]="matcher"
          placeholder="Ex. Cobertura de luxo com elevador privativo"
        ></textarea>
        @if (createImovel.hasError('required')) {
        <mat-error>É necessário preencher a descrição</mat-error>
        }
      </mat-form-field>

      <button class="full-width no-radious" type="submit" mat-fab extended>Cadastrar</button>
    </mat-tab>
    <mat-tab label="Imagens">
      <div>
        <div class="d-flex wrap-flex space-between">
          <div class="action-foto-container" *ngIf="selectedTabIndex === 1">
            <label for="fileInput" class="custom-file-upload ft-size"><mat-icon class="photo-icon">photo_camera</mat-icon></label>
            <input mat-fab type="file" id="fileInput" class="custom-file-upload" (change)="onFileSelected($event)" multiple />
          </div>
          <div *ngFor="let foto of previewUrls" class="mb-1 photo-container">
            <mat-icon class="close-icon" (click)="remove(foto.fileName)" >close</mat-icon>
            <img [src]="foto.url" alt="ft" class="ft-size" />
          </div>
          
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Preview"> Content 3 </mat-tab>
  </mat-tab-group>
</form>
