.d-flex {
  display: flex;
}

.mr-1 {
  margin-right: 5px;
}

.full-width {
  width: 100%;
}

.no-radious {
  border-radius: 0;
}

.observacoes {
  min-height: 250px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  padding: 0px 0px;
  cursor: pointer;
  background-color: #9e9ea54a;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: anchor-center;
}

.action-foto-container {
  width: fit-content;
}

.ft-size {
  width: 200px;
  height: 200px;
}

.wrap-flex {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.mb-1 {
  margin-bottom: 5px;
}

.photo-icon {
  font-size: 70px;
  height: 70px;
  width: 70px;
}

.close-icon {
  
  position: absolute;
  right: 10px;
  top: 10px;
}

.photo-container {
  position: relative;
}
