.word-chip {
  margin: 5px;
  /* Garante que o chip se expanda para o conteúdo do checkbox */
  height: auto; 
  padding: 5px 10px;
}

.words-list {
  padding: 10px 0 20px 0;
  display: flex;
  flex-wrap: wrap; /* Permite que os chips quebrem a linha */
  gap: 8px; /* Espaçamento entre os chips */
}

/* Estiliza o mat-checkbox para que fique bem dentro do chip */
mat-checkbox {
  display: flex;
  align-items: center;
}

/* Ajuste o texto da palavra para ser mais visível */
.word-text {
  font-weight: 500;
  margin-left: 5px; /* Adiciona um pequeno espaço após o checkbox */
}

.submit-button-container {
  margin-top: 20px;
  text-align: right;
}

mat-card {
  max-width: 800px;
  margin: 30px auto;
}