<div class="quiz-container">
  <mat-card *ngIf="!quizFinalizado">
    <mat-card-header>
      <mat-card-title>{{ perguntaAtual?.titulo }}</mat-card-title>
    </mat-card-header>

    <mat-card-content class="pergunta-content">
      <p class="dica">{{ perguntaAtual?.dica }}</p>
      <h2 class="descricao">{{ perguntaAtual?.descricao }}</h2>
    </mat-card-content>

    <mat-card-actions class="opcoes-container">
      <button 
        mat-raised-button
        color="primary"
        *ngFor="let opcao of perguntaAtual?.opcoes; let i = index"
        (click)="selecionarOpcao(i)"
        [ngClass]="{'opcao-selecionada': opcaoSelecionada === i}"
      >
        {{ opcao }}
      </button>
    </mat-card-actions>
    
    <mat-card-actions class="flex-row">
      <button
        mat-stroked-button
        class="proximo-btn"
        color="primary"
        [disabled]="indiceAtual === 0"
        (click)="voltarPergunta()"
      >
        Anterior
      </button>
      
      <button 
        mat-raised-button
        color="accent"
        class="proximo-btn"
        [disabled]="opcaoSelecionada === null"
        (click)="avancarPergunta()"
      >
        Próximo
      </button>
    </mat-card-actions>

    <mat-card-footer class="rodape">
      <p>Pergunta {{ indiceAtual + 1 }} de {{ perguntas.length }}</p>
    </mat-card-footer>
  </mat-card>

  <mat-card *ngIf="quizFinalizado" class="resultados-card">
    <mat-card-header>
      <mat-card-title>Quiz Finalizado!</mat-card-title>
    </mat-card-header>

    <mat-card-content class="resultados-content">
      <p>Acertos: <span class="acertos">{{ acertos }}</span></p>
      <p>Erros: <span class="erros">{{ erros }}</span></p>
      <mat-divider></mat-divider>
      <p>Pontuação Final: <span class="total-score">{{ acertos }} / {{ perguntas.length }}</span></p>

      
       <mat-card-actions class="flex-row">
      <button
        mat-stroked-button
        class="proximo-btn"
        color="primary"
        (click)="refazer()"
      >
        Refazer
      </button>
      
      <button 
        mat-raised-button
        color="accent"
        class="proximo-btn"
        (click)="concluirPreTeste()"
      >
        Concluir
      </button>
    </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>